<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Agro é tóxico</title>
         <link rel="stylesheet" href="/bscss/bootstrap.min.css">
        <link href="/css/stilo.css" rel="stylesheet" />
        <script src="/bsjs/bootstrap.min.js"></script>
        <script src="/popperjs/popper.min.js"></script>
        
    </head>
    <body id="page-top">
        <header class="cabecalho">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="/" id="navex">Agro é tóxico</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                                <li class="nav-item"><a class="nav-link" href="#classificacao" id="nave">Classificação</a></li>
                                <li class="nav-item"><a class="nav-link" href="#efeitos" id="nave">Efeitos</a></li>
                                <li class="nav-item"><a class="nav-link" href="#alternativas" id="nave">Alternativas</a></li>    
                            <div class="dropdown">
                            <a id="saibamais" class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Saiba mais
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/class">Classificação</a></li>
                                <li><a class="dropdown-item" href="/molecula">Estruturas moleculares</a></li>
                                <li><a class="dropdown-item" href="/sobre">Quem somos</a></li>
                            </ul>
                            </div>
                    </ul>
                </div>
                </div>
            </nav>
        </header>

        <section class="page-section bg-primary" id="classificacao" style="margin-bottom: -10%;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 d-flex justify-content-center" style="margin-left: -25%; margin-right: -15%; margin-top: 5%;">
                    <div class="col-lg-7" style="margin-left: 7%">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Classificação</h4>
                            <p class="text-black-75" style="text-align: justify;">A Secretaria de Vigilância Sanitária estabeleceu os 
                                critérios para a classificação toxicológica destes produtos.
                                Segundo esta portaria o Ministério da Saúde, deve emitir parecer 
                                quanto aos produtos técnicos, ingredientes ativos e produtos formulados, 
                                nas seguintes classes toxicológicas:<br>
                                <br> Classe I – Produtos Extremamente Tóxicos;
                                <br> Classe II – Produtos Altamente Tóxicos;
                                <br>Classe III – Produtos Medianamente Tóxicos;
                                <br>Classe IV – Produtos Pouco Tóxicos.
                                <br><br>A classificação dos agrotóxicos utilizada para fins de registro e reavaliação pela ANVISA é baseada no grau de toxicidade destas substâncias
                                </p>
                                <br>
                                <div><img class="img-fluid mb-4 mb-lg-0" id="imagemclass" src="/imagens/class.png" alt="..." /></div>
                                <p class="text-black-75" style="text-align: justify; text-align: center;">Fonte: Instituto Nacional de Câncer José Alencar Gomes da Silva, 2019</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <section class="page-section bg-primary" id="efeitos" >
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 d-flex justify-content-center" style="margin-left: -25%; margin-right: -15%;">
                    <div class="col-lg-7" style="margin-left: 7%">
                        <div class="featured-text text-center text-lg-left">
                            <h3>Efeitos causados pelo uso de agrotóxico:</h3>
                            <p class="text-black-75" style="text-align: justify;" >
                            Atualmente, cerca de 5 bilhões de quilos de pesticidas são aplicados em todo o mundo por ano. A agricultura moderna gera crescimento econômico, mas é responsável por uma poluição que afeta as pessoas e o meio ambiente, principalmente devido ao uso desenfreado de agrotóxicos.
                            </p>
                            </div>
                        <h4 style="margin-top: 8%;" id="titulo">Vantagens e desvantagens</h4>
                        <img class="img-fluid mb-4 mb-lg-0" id="imagemclass2" src="/imagens/isso.png" alt="..." />
                        <h4 style="margin-top: 8%;" id="titulo">Impactos no meio ambiente</h4>
                        <p >
                        O uso indiscriminado de agrotóxicos pode levar à contaminação da água e do solo e causar efeitos drásticos em espécies não alvo, afetando a biodiversidade, as redes alimentares e os ecossistemas aquáticos e terrestres.
                        </p>
                        <h5 style="margin-top: 8%;" id="titulo">Contaminação de águas</h5>
                        <p >
                        Pesticidas hidrossolúveis podem alcançar águas superficiais, como córregos, rios e lagos, por meio do escoamento dos produtos químicos a partir de plantas tratadas e do solo contaminado. Os agrotóxicos também penetram no solo atingindo aquíferos, e a contaminação subterrânea é um problema crônico, pois, uma vez que a água profunda está poluída, muitos anos são necessários para que as impurezas se dissiparam. A limpeza desses corpos d’água pode ser cara e complexa, muitas vezes até impossível.
                        A agricultura é a maior responsável pelo desperdício de água em volume, além de ter dado origem a ameaças ambientais, incluindo o aumento da poluição dos ecossistemas aquáticos.
                        </p>
                        <h5 style="margin-top: 8%;" id="titulo">Contaminação do solo</h5>
                        <p >
                        Os pesticidas mais presentes na terra são os herbicidas, que ficam retidos em diferentes graus, dependendo das interações entre as propriedades do solo e os agrotóxicos. A característica mais influente é o conteúdo orgânico, e quanto maior é o teor de matéria orgânica, maior é a absorção das substâncias.
                        O solo contaminado pode afetar as populações de microrganismos benéficos, o que o degrada, pois reduz a produção de nutrientes no ambiente. Algumas plantas, como as leguminosas, dependem de uma variedade de microrganismos do solo para transformar nitrogênio atmosférico em nitratos, e muitos herbicidas interrompem esse processo.
                        </p>
                        <h5 style="margin-top: 8%;" id="titulo">Contaminação por volatilização</h5>
                        <p >
                        Os agrotóxicos em spray podem volatilizar e ser carregados para outras áreas, contaminando o ar, o solo e as plantas longe da área tratada. A perda por volatilização pode atingir até 25%, o que indica que uma elevada porcentagem de produto químico pode se espalhar de alguns metros a várias centenas de quilômetros.
                        Muitas fórmulas herbicidas volatilizam e geram vapores suficientes para causar danos graves a outras plantas, reduzir severamente a qualidade das sementes e aumentar a suscetibilidade a certas doenças. As plantas também podem sofrer consequências indiretas dos danos dos agrotóxicos aos microrganismos do solo e insetos benéficos.
                        </p>
                        <h5 style="margin-top: 8%;" id="titulo">Impactos em organismos não alvo</h5>
                        <p >
                        Vários organismos podem sentir os efeitos dos agrotóxicos, como insetos benéficos ao solo e à polinização, peixes e outros seres aquáticos, pássaros e espécies selvagens. A água contaminada com pesticidas pode afetar plantas aquáticas, diminuir o oxigênio dissolvido na água e causar danos fisiológicos aos animais. Herbicidas, por exemplo, podem ser tóxicos para os peixes, causar deformidades vertebrais, produzir efeitos subletais, como natação irregular e dificuldade para respirar, reduzindo as chances de sobrevivência.
                        O acúmulo de pesticidas nas cadeias alimentares é a maior preocupação, pois afeta diretamente os predadores de topo. Vários casos de envenenamento de golfinhos e outros mamíferos aquáticos por pesticidas têm sido relatados em todo o mundo devido ao seu alto nível trófico na cadeia alimentar e acúmulo de concentrações de poluentes orgânicos.
                        Os efeitos nas plantas aquáticas também podem causar um grande desequilíbrio no ecossistema, uma vez que esses organismos são a base da cadeia alimentar. Estudos em algas e diatomáceas em córregos mostraram que as substâncias químicas tóxicas danificam as células e bloqueiam a fotossíntese.
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <section class="page-section bg-primary" id="alternativas" style="margin-top: -12%;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 d-flex justify-content-center" style="margin-left: -25%; margin-right: -15%;">
                    <div class="col-lg-7" style="margin-left: 7%">
                        <div class="featured-text text-center text-lg-left">
                        <h3 id="alt">Alternativas ao uso dos agrotóxicos</h3>
                        <p class="text-black-75" style="text-align: justify;" >
                        Muito se deve ao uso dos produtos químicos em atividades agrícolas e pecuárias para controle de pragas. Vale ressaltar que as substâncias químicas dos agrotóxicos são extremamente tóxicas à saúde humana, além de causar danos ao meio ambiente. Por isso, é essencial que as empresas do agronegócio conheçam alternativas efetivas para substituir a utilização de agrotóxicos. 
                        </p>
                        </div>
                        <h4 style="margin-top: 8%;" id="titulo">Controle biológico</h4>
                        <p >
                        O controle biológico é uma das melhores alternativas à utilização de agrotóxicos na agricultura por ser um meio totalmente natural. A técnica introduz predadores, parasitas e patógenos das principais pragas presentes nas plantações. Assim, os organismos vivos inseridos no local de cultivo atacam os outros que estejam causando danos econômicos às lavouras. Sua principal vantagem é que não causa danos à lavoura ou aos inimigos naturais do alvo do controle. Logo, é uma forma mais assertiva e econômica de combater as espécies invasoras sem o uso de substâncias químicas.
                        Um exemplo de sucesso que podemos citar é a utilização do parasitoide Trichogramma spp para combater diferentes espécies de lagartas. O inseto é uma vespa que deposita seus ovos no corpo do seu hospedeiro, nesse caso, das lagartas. Ao eclodirem, liberam larvas que se alimentam da praga, levando-a à morte. Desse modo, as vespas apresentam grande eficiência no controle da lagarta-do-cartucho, que destrói as plantações de milho.
                        </p>
                        <h5 style="margin-top: 8%;" id="titulo">Agroecologia</h5>
                        <p >
                        A agroecologia é o estudo da agricultura por uma perspectiva ecológica, social, política, cultural, ambiental, energética e ética. É um dos métodos modernos mais utilizados para gerar uma produção livre de venenos e substituir a utilização de agrotóxicos. A prática visa criar um sistema de plantio sustentável que não aplica transgênicos, fertilizantes industriais e agrotóxicos nas lavouras. O conceito de agroecologia pressupõe a agricultura orgânica aliada ao emprego de tecnologias limpas para gerar cada vez menos impactos ambientais.
                        O objetivo da agroecologia é proporcionar uma agricultura ambientalmente sustentável que seja economicamente eficiente e socialmente justa. O método mistura espécies e adubos naturais para manter os solos férteis em longo prazo. A alta produtividade e a conservação da biodiversidade são vantagens da agroecologia em relação à utilização de agrotóxicos. Entre os artifícios usados na agroecologia, podemos citar a compostagem, o uso de defensivos naturais, a rotação de culturas e a diversidade no plantio.
                        </p>
                        <h5 style="margin-top: 8%;" id="titulo">Manejo Integrado de Pragas (MIP)</h5>
                        <p >
                        O Manejo Integrado de Pragas, também conhecido como MIP, consiste em um conjunto de práticas sustentáveis para controlar as pragas nas lavouras sem necessitar da utilização de agrotóxicos. Ou seja, faz uso consciente de recursos naturais para propor soluções sustentáveis e rentáveis de táticas de controle de espécies invasoras na agricultura. A grande vantagem dessa técnica é a preservação ambiental causada por suas ações ecologicamente corretas.
                        Com a utilização do MIP, os insetos continuam nas lavouras, porém não oferecem riscos de danos econômicos à produção. Para isso, é necessário que haja acompanhamento constante da quantidade de população da espécie invasora na lavoura.
                        É possível integrar várias técnicas diferentes do MIP para chegar a uma maior eficácia no controle de pragas. Por exemplo, os mecanismos mais utilizados são a rotação de cultura, o tratamento de sementes e o monitoramento das pragas, doenças e inimigos naturais. O controle biológico, citado anteriormente, também faz parte das táticas assertivas. O Manejo Integrado de Pragas proporciona maior segurança ambiental na produção e oferece economia no uso reduzido de agrotóxicos.
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </section>
        
        <footer class="rodape"> 
            <a href="https://www.ifms.edu.br/"><img class="imgRodape" src="imagens/IFLogo.png"></a>
            <h1 class="h5">Site desenvolvido para o projeto integrado de desenvolvimento web 2 e química 4 no IFMS campus Campo Grande</h1>  
        </footer>

    </body>
</html>