<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Agro é tóxico</title>
 
        <link rel="stylesheet" href="/bscss/bootstrap.min.css">
        <link href="/css/stilo.css" rel="stylesheet" />
        <script src="/bsjs/bootstrap.min.js"></script>
        <script src="/popperjs/popper.min.js"></script>
        
    </head>
    <body id="page-top">
        <header class="cabecalho">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="/" id="navex">Agro é tóxico</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto my-2 my-lg-0">
                            <li class="nav-item"><a class="nav-link" href="#agro" id="nave">Agrotóxicos no Brasil</a></li>
                            <li class="nav-item"><a class="nav-link" href="#moleculas" id="nave">Moleculas</a></li>
                         <div class="dropdown">
                        <a id="saibamais" class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Saiba mais
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/class">Classificação</a></li>
                            <li><a class="dropdown-item" href="/molecula">Estruturas moleculares</a></li>
                            <li><a class="dropdown-item" href="/sobre">Quem somos</a></li>
                        </ul>
                        </div>
                </ul>
                </div>
                </div>
            </nav>
        </header>
        
        <section class="page-section bg-primary" id="sobreisso" style="margin-bottom: -10%;" >
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 d-flex justify-content-center" style="margin-left: -25%; margin-right: -15%;">
                    <div class="col-lg-7" style="margin-left: 7%">
                        <div class="featured-text text-center text-lg-left">
                            <h3 id="titulomol">Estruturas moleculares de agrotóxicos utilizados no Brasil</h3>
                            <p class="text-black-75" id="texto22"style="text-align: justify; text-align: center;">Aqui veremos quais são alguns dos agrotóxicos
                            utilizados no Brasil. Neste tópicos encontraremos a utilidade destes agrotóxicos e suas principais 
                            funções moleculares</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <section class="page-section bg-primary" id="agro" style="margin-bottom: -10%;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 d-flex justify-content-center" style="margin-left: -25%; margin-right: -15%;">
                    <div class="col-lg-7" style="margin-left: 7%">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Agrotóxicos usados no brasil</h4>
                            <p class="text-black-75" id="texto2" style="text-align: justify;">O Brasil consome mais de um milhão de toneladas de agrotóxicos por ano, 
                                sendo o maior consumidor global do insumo em termos absolutos desde 2008, segundo dados do Instituto Nacional de Câncer (Inca).<br>
                                
                                <br>No País, produtos que foram banidos na União Europeia e Estados Unidos ainda têm autorização para aplicação nas 
                                lavouras, o que gera uma preocupação extra em relação à saúde humana, dos animais e à preservação do meio ambiente.<br>
                                
                                <br>Nesse contexto, conhecer como são aplicados os principais agrotóxicos no Brasil pode ajudar consumidores e produtores rurais a 
                                aumentarem a consciência sobre seus perigos e buscar alternativas mais sustentáveis e rentáveis para o campo.
                                </p>

                                <br>

                                <div><img class="img-fluid mb-4 mb-lg-0" id="tabela"src="/imagens/tabela.png" alt="..." /></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <section class="page-section bg-primary" id="moleculas" style="margin-bottom: -10%;">
            <div class="container px-4 px-lg-5">
                 <div class="row gx-4 gx-lg-5 d-flex justify-content-center"><img class="img-fluid mb-4 mb-lg-0" id="molecula" src="/imagens/24d.png" alt="..." />
                    <div class="col-xl-4 col-lg-0" style="margin-left: 8%"></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-white text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h3>2,4-D</h3>
                            <p class="text-black-75 texto3" style="text-align: justify;">O 2,4-D é um herbicida aplicado para aumentar a eficiência na 
                                aplicação contra plantas daninhas que desenvolveram resistência ao glifosato, como a buva, espécie que atinge os 
                                cultivos de soja e do feijão.<br>
                                
                                <br>No Brasil, o agrotóxico pode ser utilizado em diversos cultivos de grãos e cereais, 
                                cana-de-açúcar, eucalipto e pastagem. Nos EUA e na União Europeia seu uso é restrito ao trigo, 
                                cevada, aveia, centeio e triticale.
                                </p>
                        </div>
                    </div>
                </div>
             </div>             
            </div>
        </section>
         

        <section class="page-section bg-primary" id="hist" style="margin-bottom: -10%;">
            <div class="container px-4 px-lg-5"> 
            <div class="row gx-4 gx-lg-5 d-flex justify-content-center"><img class="img-fluid mb-4 mb-lg-0" id= "molecula" src="/imagens/metomil.png" alt="..." />
                <div class="col-xl-4 col-lg-0" style="margin-left: 8%"></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-white text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h3>Metomil</h3>
                                <p class="text-black-75 mb-4 texto3" style="text-align: justify;">Um inseticida sistêmico com recomendação de uso
                                     para o controle das pragas nas culturas do Algodão, Batata, Brócolis, Couve, Milho, Repolho, Soja, 
                                     Tomate e Trigo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <section class="page-section bg-primary" id="hist" style="margin-bottom: -10%;">
            <div class="container px-4 px-lg-5"> 
            <div class="row gx-4 gx-lg-5 d-flex justify-content-center"><img class="img-fluid mb-4 mb-lg-0" id= "molecula" src="/imagens/diazinon.png" alt="..." />
                <div class="col-xl-4 col-lg-0" style="margin-left: 8%"></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-white text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h3>Diazinon</h3>
                                <p class="text-black-75 texto3" style="text-align: justify;">Um inseticida organofosforado usado para controlar 
                                    insetos no solo, nas plantas ornamentais e nas culturas de frutas e legumes. É também utilizado para 
                                    controlar as pragas domésticas tais como moscas, pulgas e baratas.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <section class="page-section bg-primary" id="hist" style="margin-bottom: -10%;">
            <div class="container px-4 px-lg-5"> 
            <div class="row gx-4 gx-lg-5 d-flex justify-content-center"><img class="img-fluid mb-4 mb-lg-0" id= "molecula" src="/imagens/clorpirifos.png" alt="..." />
                <div class="col-xl-4 col-lg-0" style="margin-left: 8%"></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-white text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h3>Clorpirifós</h3>
                                <p class="text-black-75 mb-4 texto3" style="text-align: justify;">É um inseticida cristalino da classe dos 
                                    organofosforados que inibe a transmissão dos receptores causando envenenamento por colapso do sistema 
                                    nervoso do inseto. É utilizado para controlar vários tipos de insetos, e é conhecido por vários nomes 
                                    de marca registada
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <section class="page-section bg-primary" id="hist" style="margin-bottom: -10%;">
            <div class="container px-4 px-lg-5"> 
            <div class="row gx-4 gx-lg-5 d-flex justify-content-center"><img class="img-fluid mb-4 mb-lg-0" id= "molecula" src="/imagens/diuron.png" alt="..." />
                <div class="col-xl-4 col-lg-0" style="margin-left: 8%"></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-white text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h3>Diuron</h3>
                                <p class="text-black-75 texto3" style="text-align: justify;">É um algicida e herbicida da classe arylurea que 
                                    inibe a fotossíntese. Foi introduzido pela Bayer em 1954 sob o nome comercial de Diuron.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <section class="page-section bg-primary" id="hist">
            <div class="container px-4 px-lg-5"> 
            <div class="row gx-4 gx-lg-5 d-flex justify-content-center"><img class="img-fluid mb-4 mb-lg-0" id= "molecula" src="/imagens/glifosato.png" alt="..." />
                <div class="col-xl-4 col-lg-0" style="margin-left: 8%"></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-white text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h3>Glifosato</h3>
                                <p class="text-black-75 mb-4 texto3" style="text-align: justify;">O glifosato é um herbicida sistêmico de amplo 
                                    espectro e dessecante de culturas. É um composto organofosforado, especificamente um fosfonato. É usado 
                                    para matar ervas daninhas, especialmente as folhosas perenes e gramíneas que competem com as culturas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <footer class="rodape"> 
            <a href="https://www.ifms.edu.br/"><img class="imgRodape" src="imagens/IFLogo.png"></a>
            <h1 class="h5">Site desenvolvido para o projeto integrado de desenvolvimento web 2 e química 4 no IFMS campus Campo Grande</h1>  
        </footer>

    </body>
</html>