<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Agro é Tóxico</title>
    <link rel="stylesheet" href="css/sobre.css" />
    <link rel="stylesheet" href="css/stilo.css" />

    <script src="/bsjs/bootstrap.min.js"></script>
    <script src="/popperjs/popper.min.js"></script>
</head>

<body>
    <header class="cabecalho">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/" id="navex">Agro é tóxico</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                      <li class="nav-item"><a class="nav-link" href="#alunos" id="nave">Alunos</a></li>
                      <li class="nav-item"><a class="nav-link" href="#prof" id="nave">Professores</a></li>
                      <li class="nav-item"><a class="nav-link" href="#ref" id="nave">Referências</a></li>
                        <div class="dropdown">
                        <a id="saibamais" class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Saiba mais
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/class">Classificação</a></li>
                            <li><a class="dropdown-item" href="/molecula">Estruturas moleculares</a></li>
                            <li><a class="dropdown-item" href="/sobre">Quem somos</a></li>
                        </ul>
                        </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <body>
        <div class="container">
            <div class="row">
              <div class="isso">
              <h1 id="alunos">Alunos desenvolvedores do site:</h1>
            </div>          
                <div class="our-team" id="sobre">
                  <div class="picture">
                    <img class="img-fluid" src="imagens/henri.jpeg">
                  </div>
                  <div class="team-content team-conteudo">
                    <h3 class="name">Henrique da<br>Silva<br>Moraes</h3>
                     <div class="texto"> 
                    <p>
                    Foi responsável pela criação das imagens do site. A maioria das imagens utilizadas (principalmente as da página inicial) são de sua autoria. Foram feitas ilustrações dos alunos e o banner. Ele também ajudou na estilização do site, posição dos elementos e a escola da paleta de cores.
                    </p>
                    </div>
                  </div>

              </div>
                  
                <div class="our-team">
                  <div class="picture">
                    <img class="img-fluid" src="imagens/lauro2.jpeg">
                  </div>
                  <div class="team-content team-conteudo">
                    <h3 class="name">Lauro<br>Henchen<br>Junior</h3>
                     <div class="texto"> 
                      <p> Lauro ficou com a responsabilidade de desenvolver o site propriamente dito. Fez a maior parte do HTML, CSS e a parte de responsividade.</p>
                      </div>
                  </div>

              </div>
                  
                <div class="our-team">
                  <div class="picture">
                    <img class="img-fluid" src="imagens/sopia4.jpeg">
                  </div>
                  <div class="team-content team-conteudo">
                    <h3 class="name">Sophia<br>Alves</h3>
                     <div class="texto"> 
                      <p>Organizou o grupo na maior parte da criação do projeto. Ordenou o grupo de forma geral para que pudessem cumprir todas as datas sem problemas. Também foi responsável pela pesquisa, classificação das funções moleculares e criação das tabelas.</p>
                      </div>
                  </div>

              </div>
                  
              <h1 style="text-align:right; margin-top: 6%" id="prof">Professores orientadores:</h1>    

                <div class="our-team2">
                  <div class="picture" style="margin-top: 2%;">
                    <img class="img-fluid" src="imagens/fabio2.png">
                  </div>
                  <div class="team-content team-conteudo2">
                    <h3 class="name">Fabio<br>Silva</h3>
                     <div class="texto2"> 
                      <p style="padding: 5% !important;"> Professor de desenvolvimento web, orientou o grupo na construção do site. Tirou dúvidas na utilização de HTML, CSS, Bootstrap, Java script e muito mais.</p>
                      </div>
                  </div>

              </div>

              <div class="our-team2">
                <div class="picture" style="margin-top: 2%;">
                  <img class="img-fluid" src="imagens/delmir.png">
                </div>
                <div class="team-content team-conteudo2">
                  <h3 class="name">Delmir<br>Felipe</h3>
                   <div class="texto2"> 
                    <p style="padding: 5% !important;">Professor de química, nos ajudou na parte de pesquisa. Indicou quais sites utilizar, ajudou na identificação das funções e entre outras coisas.</p>
                    </div>
                </div>
            </div>
            </div>
          </div>
          <section class="page-section bg-primary" id="sobreisso" style="margin-bottom: -10%; margin-top: -10%;" >
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 d-flex justify-content-center" style="margin-left: -25%; margin-right: -15%;">
                    <div class="col-lg-7" style="margin-left: 7%">
                        <div id="ref" class="featured-text text-center text-lg-left">
                            <h3 id="titulomol">Referências</h3>
                            <ul id="links" style="text-align:justify; margin-bottom: 15%;">
                              <li><a href="https://www.inca.gov.br/exposicao-no-trabalho-e-no-ambiente/agrotoxicos">https://www.inca.gov.br/exposicao-no-trabalho-e-no-ambiente/agrotoxicos
                              </a></li>
                              <br>
                              <li><a href="https://summitagro.estadao.com.br/saude-no-campo/principais-tipos-de-agrotoxicos-e-os-riscos-no-uso/">https://summitagro.estadao.com.br/saude-no-campo/principais-tipos-de-agrotoxicos-e-os-riscos-no-uso/
                              </a></li>
                              <br>
                              <li><a href="https://mundoeducacao.uol.com.br/geografia/agrotoxicos.htm">https://mundoeducacao.uol.com.br/geografia/agrotoxicos.htm
                              </a></li>
                              <br>
                              <li><a href="https://summitagro.estadao.com.br/noticias-do-campo/conheca-como-sao-aplicados-os-5-principais-agrotoxicos-no-brasil/">https://summitagro.estadao.com.br/noticias-do-campo/conheca-como-sao-aplicados-os-5-principais-agrotoxicos-no-brasil/
                              </a></li>
                              <br>
                              <li><a href="https://brasilescola.uol.com.br/geografia/agrotoxicos.htm#Vantagens+e+desvantagens+no+uso+de+agrotóxicos">https://brasilescola.uol.com.br/geografia/agrotoxicos.htm#Vantagens+<br>e+desvantagens+no+uso+de+agrotóxicos
                              <br><br>
                              <li><a href="https://summitagro.estadao.com.br/saude-no-campo/agrotoxicos-da-agricultura-moderna-e-seus-impactos-no-meio-ambiente/#:~:text=O%20uso%20indiscriminado%20de%20agrotóxicos,os%20ecossistemas%20aquáticos%20e%20terrestres.
                                          ">https://summitagro.estadao.com.br/saude-no-campo/agrotoxicos-da-agricultura-moderna-e-seus-impactos-no-meio-ambiente.
                              </a></li> 
                              <br>
                              <li><a href="https://etica-ambiental.com.br/utilizacao-de-agrotoxicos/">https://etica-ambiental.com.br/utilizacao-de-agrotoxicos/
                              </a></li>  
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <div style="background-color:#164e21;"><footer class="rodape"> 
          <a href="https://www.ifms.edu.br/"><img class="imgRodape" src="imagens/IFLogo.png"></a>
          <h1 class="h5">Site desenvolvido para o projeto integrado de desenvolvimento web 2 e química 4 no IFMS campus Campo Grande</h1>  
      </footer></div>
    </body>
    </html>